<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homework005">
    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAG" /> <!-- 在SDCard中创建与删除文件权限 -->
    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activity节点指定了该App拥有的活动页面信息 -->

        <activity android:name="com.example.homework006.TextWriteActivity"
            android:exported="true"/>
        <activity android:name="com.example.homework006.TextReadActivity"
            android:exported="true"/>
        <activity android:name="com.example.homework006.ImageWriteActivity"
            android:exported="true"/>
        <activity android:name="com.example.homework006.ImageReadActivity"
            android:exported="true"/>
        <activity android:name="com.example.homework006.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>